body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d0d1e;
  background-image: url("assets/blue-background.png");
  background-size: cover, contain;
  background-position: center, right bottom;
  background-repeat: no-repeat, no-repeat;
  font-family: "Georgia", serif;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #344955; /* Dark blue background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */

  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.left,
.right {
  flex: 0.2;
}

.center {
  flex: 2;
  text-align: center;
}

.backButton,
.logoutButton {
  background-color: #344955; /* Blue button color */
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Georgia", serif;
  text-decoration: underline;
}

.content-body {
  margin: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greenBox {
  background-color: #50727b; /* Green box */
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 90%;
}

.greenBox p {
  font-size: 15pt;
}

.redBox {
  background-color: #344955; /* Red box */
  color: white;
  text-align: center;
  padding: 0;
  width: 40%;
  font-size: 20px;
  margin-bottom: 50px;
}

.orangeBoxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.orangeBox {
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 10px; /* Rounded corners */
  width: calc(33.33% - 50px); /* Three boxes in a row with margin in between */
  font-size: 20pt;
}

.lighter {
  background-color: #50727b;
}

.lighter:hover {
  background-color: #3c5b66;
}

.darker {
  background-color: #164863;
}

.darker:hover {
  background-color: #103b4e;
}

/* Styling for the centered box */
.centered-box {
  width: 50%;
  background-color: rgba(80, 114, 123, 0.8); /* #50727B with 80% opacity */
  padding: 20px;
  box-sizing: border-box;
}

/* Styling for the text inside the box */
.centered-box h2 {
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 20pt;
  margin-top: 60px;
  margin-bottom: 40px;
}

/* Styling for the user input field */
.centered-box textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background: #d9d9d9;
  font-family: Georgia, serif;
  font-size: 14pt;
  height: 250px;
}

.centered-box input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background: #d9d9d9;
  font-family: Georgia, serif;
  font-size: 14pt;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Styling for the submission button */
.customButton {
  display: inline-block;
  padding: 15px 40px;
  background-color: #344955; /* Dark blue background color */
  color: #fffff2;
  text-align: center;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  font-family: "Georgia", serif;
  font-size: 15pt;
}

/* Hover effect */
.customButton:hover {
  background-color: #2b3c49; /* Darker blue on hover */
}

.outer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  overflow-wrap: break-word;
}

.more-margin {
  margin-bottom: 50px;
}

ul {
  list-style: none; /* Remove default list styling (bullets) */
  padding: 0;
  color: white;
  font-size: 15pt;
  margin-bottom: 40px;
}

/* Styling for list items */
li {
  margin-bottom: 20px; /* Adjust spacing between list items */
}

h3 {
  color: white;
}

.resources p {
  color: black;
  font-size: 18pt;
}

a {
  color: lightgray;
  font-size: 15pt;
}

.bigger {
  font-size: 20pt;
}

label {
  font-size: 16pt;
  color: white;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Styles for unchecked state */
input[type="checkbox"]:not(:checked) {
  background-color: #fff;
}

/* Styles for checked state */
input[type="checkbox"]:checked {
  background-color: #2b3c49;
  border: 1px solid #2b3c49;
  color: #fff;
}

/* Hover styles */
input[type="checkbox"]:hover {
  border-color: #888;
}

/* Focus styles */
input[type="checkbox"]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.label-container {
  display: flex;
  align-items: baseline;
}

.symptom-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.rating-slider {
  width: 80%;
  margin: 10px 0;
}

.rating-value {
  font-size: 1.5em;
  font-weight: bold;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.dropdown-select {
  padding: 10px;
  font-size: 1em;
  width: 200px;
  margin-top: 5px;
}

/* You can customize the appearance of the selected option if needed */
.dropdown-select option {
  background-color: #fff;
  color: #333;
}

.button {
  display: inline-block;
  padding: 20px 30px;
  margin-right: 50px;
  color: #fffff2; /* White text color */
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #50727b;
  font-size: 25pt;
  font-family: "Georgia", serif;
  opacity: 0.8;
}

.blue-box {
  background-color: #50727b; /* Green box */
  text-align: center;
  padding: 5px;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 60%;
  opacity: 0.8;
}

.title-text {
  color: #fffff2;
  font-size: 50pt;
  font-weight: lighter;
  opacity: 1;
}

.blue-box p {
  font-size: 15pt;
}

.button-container {
  color: white;
  text-align: center;
  padding: 0;
  width: 40%;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 70px;
}

.landing-box {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.white-text {
  color: white;
}
.login-input {
  padding: 5px;
  border-radius: 30px;
  width: 300px;
  height: 50px;
  text-align: center;
  display: block;
  margin:auto;
  margin-top:20px;
  
}

.login {
  text-align: center;
}

.login button {
  padding: 5px;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  display:inline-block;
  margin-top:20px;
  background-color:rgba(255, 255, 255, 255);
  
}

.tellmore-label {
  padding: 5px;
  border-radius: 30px;
  text-align: center;
  display: block;
  margin:auto;
  margin-top:20px;
}
